# All files that do not meet the standard will not be uploaded
*.*
*

# NC
!NC/
!NC/NC*/
!NC/NC*/topic.md
!NC/NC*/analysis.md
!NC/NC*/code.c
!NC/NC*/code.cpp
!NC/NC*/printscreen.png

# Rule
!Rule/
!Rule/Array.md
!Rule/Divide-and-Conquer.md
!Rule/Double-pointer.md
!Rule/Hash.md
!Rule/Heap.md
!Rule/Introduction.md
!Rule/List.md
!Rule/Math.md
!Rule/Medium.md
!Rule/Simpleness.md
!Rule/Sort.md
!Rule/Stack.md
!Rule/String.md

# Root
!/README.md
!/LICENSE
!/.gitignore