# All files that do not meet the standard will not be uploaded
*.*
*

# NC
!NC/
!NC/NC*/
!NC/NC*/topic.md
!NC/NC*/analysis.md
!NC/NC*/code.c
!NC/NC*/code.cpp
!NC/NC*/printscreen.png

# Rule
!Rule/
!Rule/*.md

# Root
!/README.md
!/LICENSE
!/.gitignore